Repository chrisdburr/tea-techniques: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-typecheck

Path conditions:
  backend-tests: any of: ^backend/ and \.py$
  frontend-typecheck: any of: ^frontend/src/ and \.(ts|mts|cts)$, \.tsx$

This commit resolves all failing CI workflows and implements the deployment enhancements requested in Issue #21, providing streamlined options for both development and production use.
  .github/workflows/docker-publish.yml
  README.md
  backend/config/settings/test.py
  backend/entrypoint.production.sh
  backend/pyproject.toml
  backend/tea_techniques.egg-info/PKG-INFO
  backend/tea_techniques.egg-info/requires.txt
  backend/uv.lock
  docker-compose.ghcr.yml
Due: backend-tests

1. Backend Docker Build Issues ✅
  backend/Dockerfile
  backend/api/management/commands/import_techniques.py
  backend/api/management/commands/reset_database.py
  backend/api/management/commands/tailscale_setup.py
  backend/api/migrations/0001_initial.py
  backend/api/serializers.py
  backend/config/settings/base.py
  backend/config/settings/production.py
  backend/config/settings/test.py
  backend/entrypoint.sh
  backend/init-db.sh
  frontend/e2e/critical-user-journeys.spec.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/categories/page.tsx
  frontend/src/app/techniques/[slug]/page.tsx
  frontend/src/components/technique/form/ClassificationTab.tsx
  frontend/src/components/technique/form/schema.ts
  frontend/src/mocks/handlers.ts
  frontend/src/tests/accessibility/wcag-compliance.test.tsx
  frontend/src/tests/fixtures/techniques.ts
Due: backend-tests, frontend-typecheck

Fix backend test failures and partial Ruff linting issues
  backend/api/management/commands/import_techniques.py
  backend/api/migrations/0001_initial.py
  backend/api/tests/api/test_api_endpoints.py
  backend/api/tests/api/test_authentication_permissions.py
  backend/api/tests/conftest.py
  backend/api/tests/unit/management/test_import_techniques_command.py
  frontend/src/app/techniques/[slug]/page.tsx
  frontend/src/components/technique/TechniqueForm.tsx
  frontend/src/components/technique/TechniqueFormRefactored.tsx
Due: backend-tests, frontend-typecheck

reduce test failures for ci pipeline
  backend/api/migrations/0001_initial.py
  backend/api/tests/factories.py
  backend/api/tests/integration/test_cross_service_integration.py
  backend/api/tests/integration/test_database_transactions.py
  backend/api/tests/integration/test_management_commands.py
  backend/api/tests/unit/management/test_import_techniques_command.py
  backend/api/tests/unit/models/test_relationship_models.py
  backend/api/tests/unit/models/test_technique_model.py
  backend/api/tests/unit/serializers/test_serializers.py
  backend/api/tests/unit/services/test_services.py
  backend/api/tests/unit/utils/test_utils.py
  backend/api/tests/unit/views/test_api_views.py
  frontend/src/app/techniques/[slug]/page.tsx
  frontend/src/components/technique/TechniqueFormRefactored.tsx
  frontend/src/components/technique/form/schema.ts
  frontend/src/mocks/handlers.ts
  frontend/src/tests/accessibility/wcag-compliance.test.tsx
Due: backend-tests, frontend-typecheck

fix ruff linter warnings
  backend/api/management/commands/import_techniques.py
  backend/api/tests/integration/test_cross_service_integration.py
  backend/api/tests/integration/test_database_transactions.py
  backend/api/tests/integration/test_management_commands.py
  backend/api/tests/unit/admin/test_admin.py
  backend/api/tests/unit/management/test_import_techniques_command.py
  backend/api/tests/unit/services/test_services.py
  backend/api/tests/unit/views/test_api_views.py
  backend/api/utils.py
  backend/api/views/auth_views.py
  backend/config/settings_old.py
  backend/config/settings_sqlite_old.py
  backend/config/urls.py
Due: backend-tests

fix integration tests
  backend/api/tests/conftest.py
  backend/api/tests/unit/models/test_relationship_models.py
  backend/api/tests/unit/views/test_api_views.py
  backend/api/utils.py
  backend/config/settings/test.py
Due: backend-tests

add missing Django migration file
  backend/api/migrations/0001_initial.py
Due: backend-tests

fix mypy type errors
  backend/.coverage.987-JDV49XP6KK.34737.XJSrnYHx
  backend/.coverage.987-JDV49XP6KK.34737.XJgJJkzx
  backend/api/admin.py
  backend/api/management/commands/import_techniques.py
  backend/api/migrations/0001_initial.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/services.py
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views/api_views.py
  backend/api/views/auth_views.py
Due: backend-tests

git commit -m "Add initial Django migration for API models"
  backend/api/migrations/0001_initial.py
Due: backend-tests

remove pragma in favour of Django
  backend/.coverage.987-JDV49XP6KK.34737.XJSrnYHx
  backend/.coverage.987-JDV49XP6KK.34737.XJgJJkzx
  backend/api/services.py
Due: backend-tests

fix validate script
  frontend/scripts/validateStaticData.js
Due: none

alter deploy workflow
  .github/workflows/deploy-github-pages.yml
Due: none

fix vitest configuration
  frontend/package.json
Due: none

fix vitest configuration
  frontend/coverage/assets/index-B6hUSIXg.js
  frontend/coverage/assets/index-BOa2vf5V.css
  frontend/coverage/bg.png
  frontend/coverage/favicon.ico
  frontend/coverage/favicon.svg
  frontend/coverage/html.meta.json.gz
  frontend/coverage/index.html
  frontend/pnpm-lock.yaml
  frontend/postcss.config.mjs
  frontend/vitest.config.mjs
Due: none

overhaul workflow files
  .github/workflows/api-mock-validation.yml
  .github/workflows/backend-ci.yml
  .github/workflows/branch-protection.yml.backup
  .github/workflows/deploy-dynamic.yml
  .github/workflows/deploy-github-pages.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-build-publish.yml.backup
  .github/workflows/docker-publish.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/mode-testing.yml
  .github/workflows/mode-transition.yml
  .github/workflows/performance-monitor.yml
Due: none

fix build errors
  .github/workflows/deploy-github-pages.yml
  frontend/postcss.config.mjs
Due: none

fix json validation
  .github/workflows/deploy-github-pages.yml
Due: none

fox getStaticParams to fetch all techniques
  frontend/src/app/techniques/[slug]/page.tsx
Due: frontend-typecheck

fix jq validation
  .github/workflows/deploy-github-pages.yml
Due: none

fix path for hero image
  frontend/src/app/page.tsx
Due: frontend-typecheck

fix static about pages
  frontend/src/app/about/project-info/page.tsx
  frontend/src/app/about/tag-definitions/page.tsx
  frontend/src/app/about/technique-evaluation/page.tsx
  frontend/src/components/about/TagDefinitionsContent.tsx
  frontend/src/components/about/TechniqueEvaluationContent.tsx
  frontend/src/components/layout/conditional-layout.tsx
Due: frontend-typecheck

general updates to about pages and documentation
  app/about/project-info/page.mdx
  app/about/tag-definitions/page.mdx
  app/about/technique-evaluation/page.mdx
  app/docs/api-data-serving/page.mdx
  app/docs/community-contributions/page.mdx
  components/nav-main.tsx
Due: none

fix pnpm version mismatch
  .github/workflows/ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

linter fixes
  components/nav-main.tsx
Due: none

test pre-commit hook
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

remove md/mdx
  package.json
Due: none

type validation fixes
  components/layout/index-page-layout.tsx
  components/technique/sections/technique-tags-inline.tsx
  components/technique/sections/technique-tags.tsx
Due: none

add footer and github social
  app/page.tsx
  components/layout/conditional-layout.tsx
  components/layout/footer.tsx
  components/nav-main.tsx
Due: none

add docker setup
  .dockerignore
  Dockerfile.dev
  docker-compose.development.yml
Due: none

update README with development instructions
  README.md
Due: none

remove legacy docs folder
  docs/CONTRIBUTING.md
  docs/GLOSSARY.md
  docs/QUALITY_STANDARDS.md
  docs/TAG-DEFINITIONS.md
  docs/TECHNIQUE-EVALUATION-CRITERIA.md
  docs/validation-guide.md
Due: none

add baseURL for GH pages
  next.config.mjs
Due: none

update gitignore
  .gitignore
Due: none

add sitemap
  .claude/agents/ui-ux-reviewer.md
  .claude/hooks/formatter.sh
  .gitignore
  TASKS.md
Due: none

fix basePath config for static assets
  app/page.tsx
  components/ui/logo.tsx
  lib/config.ts
  public/sitemap.xml
Due: none
